.room-mainvisual{
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

.room{
  width: 1024px;
  height: auto;
  margin-top: 24px;
}
/* headerとmainvisualをのぞくルームページのマージン */

.sidebar{
  width: 210px;
  float: left;
}

#reserveform_room{
  width: 210px;
  height: 230px;
  background-color: #20625f;
}

.reserve-middle_room{
  padding-top: 12px;
  margin-bottom: 14px;
}

#reserveform_room h2{
  width: 210px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-weight: normal;
  margin-top: 12px;
}

#reserveform_room h2 span{
	font-size: 10px;
	padding-left: 7px;
	font-weight: normal;
}

.stay-ymd{
  overflow: hidden;
}

.stay-npr{
  overflow: hidden;
}

#reserveform_room dl{
  margin: 8px 4px;
}

#reserveform_room dt{
	color: #fff;
	font-size: 11px;
	margin-left: 8px;
}

#reserveform_room dd{
	margin-top:8px;
	float: left;
}

select {
  height: 24px;
  -moz-appearance: none;
  -webkit-appearance: none;
	font-family:Helvetica, Arial, sans-serif;
  padding: 2px 8px;
	border-radius: 0;
  background: #fff;
  font-size: 11px;
  color: #666;
	margin-left: 8px;
	cursor:pointer;
}

.stay-ymd #yearmonth{
  width: 112px;
}

.stay-ymd #day{
  width: 62px;
}

.stay-npr #nights, .stay-npr #people{
  width: 52px;
}

.stay-npr #rooms{
  width: 62px;
}

#reserveform_room .research{
	border:solid 0px #ccc;
	padding:4px 35px;
	font-size:12px;
	text-transform:uppercase;
	background: url(../img/triangle_w.png) no-repeat 8px 12px,  #5eb5b2;
	color:#fff;
	cursor:pointer;
  margin-left: 54px;
  margin-top: 8px;
  letter-spacing: 4px;
}

#reserveform_room img{
	margin: 8px 0px 0px 16px;
}
    /* 区切りの画像 */


#reserveform_room .confirm{
	border:solid 0px #ccc;
	padding:6px 16px 0px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	background:  url(../img/triangle_w.png) no-repeat 0px 12px, rgba(0,0,0,0);
	color:#fff;
	cursor:pointer;
	float: left;
	margin-left: 40px;
	margin-top: 6px;
}

/* 宿泊予約 */


.stay_nav{
  width: 210px;
  color: #666;
  margin: 32px 0px;
}

.stay_nav h2{
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: normal;
}

.hr_snav{
      display:block;
      height:1px;
      border:0;
      border-top:1px solid #eccfae;
      margin:0 0;
      padding:0;
}

.stay_nav a{
  text-decoration: none;
  color: #666;
}

.stay_nav ul{
  overflow: hidden;
}

.stay_nav ul li img{
  width: 195px;
  height: 1px;
  margin: 0;
  padding: 0;
  float: right;
}

.snav2{
  width: 186px;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  padding: 0px;
  padding-left: 24px;
  background: url(../img/arrow02.png)  no-repeat 12px 18px;
}

.snav1{
  width: 174px;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  padding: 0px;
  padding-left: 36px;
  background: url(../img/arrow01.png)  no-repeat 24px 18px;

}

.nowpage{
  width: 176px;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  padding-left: 36px;
  margin: 0;
  padding: 0 0 0 36px;
  background: #dac39c;
}

.nowpage a{
  color: #FFF;
}

.room_contents{
  width: 768px;
  float: right;
  overflow: hidden;
  color: #444;
}

.pankuzu{
  width: 768px;
  height: 12px;
  font-size: 12px;
  color: #42221d;
}

.pankuzu li{
  float: left;
  margin-right: 24px;
}

.pankuzu a{
  text-decoration: none;
  color: #999;
}

.room_contents h2{
  font-size: 24px;
  color: #333;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 16px;
  letter-spacing:2pt;
}

.room_contents h2 span{
  font-size: 11px;
  color: #999;
  letter-spacing:2pt;
}

.room_line{
  height: 1px;
	border-bottom:1px solid #408c89;
	border-top: 0;
  margin: 0;
  padding: 0;
}

.room_pic{
  margin-top: 16px;
  overflow: hidden;
}

.big_pic{
  width: 496px;
  float: left;
}

.small_pic{
  width: 272px;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.small_pic img{
  width: 120px;
  height: 72px;
  margin-left: 16px;
  margin-bottom: 16px;
  display: block;
  float: left;
}

.small_pic img:last-child{
  margin-bottom: 0px;
}

.room_element{
  overflow: hidden;
  margin-bottom: 24px;
}

.room_copy{
  float: left;
  width: 496px;
  height: 108px;
  margin: 16px 0px;
  padding: 0;
}

.room_table{
  float: right;
  width: 256px;
  height: 108px;
  margin: 16px 0px;
}

.room_table tr{
  border-top: 1px solid #8c6740;
  border-bottom: 1px solid #8c6740;
}

.room_table th, .room_table td{
  padding-top: 11px;
  font-weight: normal;
  font-size: 14px;
}

.room_table th{
  width: 86px;
  float: left;
  text-align: left;
}

.room_table td{
  width: 115px;
  float: left;
  text-align: center;
}

.room_table td:last-child{
  width: 55px;
  float: right;
  text-align: center;
}

.room_contents h3{
  padding: 8px 0px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing:2px;
}

.room_contents h4{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 14px;
  letter-spacing:2px;
}

.room_contents p{
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0px;
  letter-spacing:1px;
}


.room_sub1{
  width: 240px;
  height: 200px;
  float: left;
  margin-right: 16px;
}

.room_sub1 h4{
  text-align :center;
}

.room_contents section ul{
  margin-top: 16px;
  font-size: 12px;
  line-height:1.8;
}

.room_sub2{
  width: 256px;
  height: 200px;
  float: right;
  overflow: hidden;
}

.room_sub2 h4{
  text-align :center;
}

.room_sub2-l{
  width: 128px;
  float: left;
}

.room_sub2-r{
  width: 128px;
  float: right;
}

.room_plan{
  clear: both;
  margin-bottom: 76px;
}

.room_plan{
  text-align :center;
}

.room_plan ul{
  overflow: hidden;
}

.room_plan li{
  width: 232px;
  height: 262px;
  margin-left: 36px;
  float: left;
}


.room_plan li:first-child{
  margin-left: 0px;
}
